* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.conduct-class {
  text-align: left;
}
.first-section {
  z-index: 0;
  /* background: #12263f url("https://image.ibb.co/mjnygo/stars.png") repeat top
    center; */

  padding-bottom: 40px;
  width: 100vw;
}
.flex-item {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.main-div {
  width: fit-content;
  margin: auto;
}
.right-logo {
  width: 25%;
  height: 25%;
  margin-left: 40px;
  margin-top: 126px;
}

/* Second Section */
.second-section {
  background-color: rgb(248, 249, 250);
  padding: 40px;
  padding-left: 92px;
  padding-right: 92px;
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 2vw)); */
  width: 100vw;
  overflow-x: hidden !important;
}

.heading {
  padding-top: 120px;
  margin-bottom: 25px;

  color: white;
}
.heading1 {
  margin-top: -7.44rem;
}
.info {
  max-width: 450px;
  margin-bottom: 1rem;
  line-height: 2;

  color: white;
}
.info1 {
  max-width: 650px;
}
/* Card Section */
.heading2 {
  margin-bottom: 2.81rem;
  text-align: center;
}
.card-cover {
  margin-bottom: 20px;
}
.to-apply-card {
  max-width: 400px;
  margin: auto;
  text-decoration: none;
  overflow: hidden;
  transition: all 0.3s;
  -webkit-perspective: 1px;
  perspective: 1px;
  display: flex;
  flex-direction: column;
}

.card-text {
  margin: 16px 0 20px;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
}

.Inside-card-div {
  height: 70%;
}
.h-100 {
  height: 100% !important;
}
.btn-apply {
  margin-top: 5%;
}
.second-section a {
  color: white;
  text-decoration: none;
}
.second-section a:hover {
  color: white;
  text-decoration: underline;
}
/* Third Section */
.third-section {
  background-color: rgb(255, 255, 255);
  align-items: left;
  width: 100vw;
  padding-bottom: 10px;
}
.heading3 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
  text-transform: capitalize;
  padding-top: 40px;
}
.logo-conduct {
  display: flex;

  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.logo-conduct span {
  display: block;

  font-family: "Poppins";
  font-size: 80px;

  opacity: 0.2;
}
.logo1,
.logo2 {
  width: 40%;
}
@media only screen and (min-width: 992px) and (max-width: 1157px) {
  .btn-apply {
    margin-top: 18%;
  }
}
@media only screen and (max-width: 1100px) {
  .flex-item {
    flex-direction: column;
  }
  .heading {
    margin: auto;
    margin-bottom: 25px;
    text-align: center;
  }
  .info {
    margin-left: 0;
    margin: auto;
    text-align: center;
    max-width: 80vw;
  }
  .right-logo {
    width: 35vw;
    margin: auto;
    margin-top: 60px;
  }
  .second-para {
    margin: auto;
  }

  .heading1 {
    margin-top: -90px;
  }
  .heading2 {
    text-align: center;
  }
  .logo span {
    height: 20%;
  }
}
@media only screen and (max-width: 450px) {
  .second-section {
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: hidden !important;
  }
  .heading3 {
    font-size: 30px;
    text-decoration: none;
    padding-top: 20px;
  }
}

@media only screen and (min-width: 1500px) {
  .info {
    font-size: 25px;
    max-width: 775px;
  }
  .heading {
    font-size: 60px;
  }

  .right-logo {
    width: 428px;
  }
  .heading3 {
    font-size: 70px;
  }
}
@media only screen and (min-width: 1110px) and (max-width: 1500px) {
  .info {
    font-size: 18px;
    max-width: 650px;
  }
  .heading {
    font-size: 45px;
  }

  .right-logo {
    width: 320px;
  }
  .heading3 {
    font-size: 45px;
  }
}
