*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.project-class {
  z-index: 0;
}
.container-project {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 78vw;
  height: 100%;
  margin: 0 auto 0;
  padding-top: 130px;

}
.bloc-tabs {
  display: flex;
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
  color: white;
}
.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}
.active-tabs {
  background: white;
  color: black;
  border-bottom: 1px solid transparent;
}
.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(88, 147, 241);
}
button {
  border: none;
}
.content-tabs {
  flex-grow: 1;
}
.content {
  background: transparent;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}
/* Year-Wise-Projects */
#searchBar {
  border: none;
  border: 2px solid #a6d2ff;
  border-radius: 6px;
  display: block;
  width: 95%;
  margin: 20px auto;
  padding: 8px;
  font-size: 14px;
  outline: none;
  background-color: rgb(13,35,59);
  box-shadow: 0px 0px 11px #45889b;
}
#searchBar:focus {
  color: #fff;
}
::placeholder { 
 color:    rgb(167, 166, 166);
}
.nwoc-repo-card {
  display: block;
  margin-bottom: 15px;
  padding: 18px;
  height: 240px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 0px 10px #45889b;
  transform: scale(0.99);
  transition: all 0.2s ease-in-out;
  background-color: rgb(13,35,59);
}
.nwoc-repo-card:hover {
  box-shadow: 6px  6px 10px #45889b;
  transform: scale(1);
}
.nwoc-repo-card .githubimg {
    filter: invert(100%) sepia(0%) saturate(7442%) hue-rotate(185deg)
      brightness(116%) contrast(114%);
}
.repo-stats {
  position: absolute;
  bottom: 12px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.repo-stats li {
  display: inline-block;
  font-size: 14px;
  margin-right: 12px;
  color: white;
}
.repo-desc {
  margin-top: 10px;
  text-align: left;
  color: white;
}
.repo-mentors {
  position: absolute;
  bottom: 42px;
  color: white;
}

.repo-mentors a,
.nwoc-repo-card a {
  text-decoration: none;
}
.repo-title {
  margin-left: 5px;
}
.repo-title-aviyel {
  margin-left: -45px;
}
.repo-heading{
  font-size: 22px;
}
.repo-title:hover,
.repo-mentors:hover,.repo-title-aviyel:hover {
  text-decoration: underline;
}
.nwoc-repo-card a {
  color: white;
}
.yr-2021 {
  color: white;
}

@media only screen and (max-width: 767px) {
  .nwoc-repo-card {
    height: 255px;
    width: 83vw;
    margin-left: auto;
    margin-right: auto;
  }
  .repo-desc {
    font-size: 14px;
  }
  .repo-title-aviyel {
    margin-left: -3px;
  }
  .repo-mentors {
    font-size: 13px;
    text-align:left;
    bottom: 48px;
  }
  .repo-stats {
    font-size: 3px;
    bottom: 9px;
    text-align: left;
  }
  .container-project{
    margin:0;
    width: 100vw;
  }
  .bloc-tabs{
   padding-left:20px;
   padding-right:20px;
  }
  #searchBar{
    width: 75vw;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1155px) {
 
  .container-project{
    margin:0;
    width: 100vw;
  }
 
  .nwoc-repo-card {
    height: 265px;
  }
  .repo-mentors {
    font-size: 14px;
    bottom: 48px;
    text-align: left;
  }
  .repo-stats {
    font-size: 13px;
    bottom: 6px;
    text-align: left;
  }
  .repo-desc{
    font-size: 15px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1300px){
  .repo-title-aviyel {
    margin-left: -3px;
  }
}
@media only screen and (max-width: 398px){
  .repo-heading{
    font-size: 16px;
  }
  .repo-stats{
    font-size:11px;
  }
}
@media only screen and (max-width: 321px){
  .nwoc-repo-card {
    width: 97vw;
    height:240px;
  }
  #searchBar{
    width: 83vw;
    margin-left: 22px;
  }
  .bloc-tabs{
   margin-left: 23px;
  }
}