.stars,
.twinkling,
.clouds {
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.stars {
  z-index: -2;
  background: #12263f url("../pages/Images/stars.svg") repeat top
    center;
}

.twinkling {
  z-index: -1;
  background: transparent url("../pages/Images/twinkle_bg1.png") repeat top center;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  z-index: 2;
  background: transparent url("https://image.ibb.co/bT4N7T/clouds.png") repeat
    top center;
  animation: move-clouds-back 200s linear infinite;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}