.dashboard-table-container {
  width: 50%;
  margin: auto;
  margin-bottom: 50px; 
}

.dashboard-bloc-tabs {
  display: flex;
  width: 50%;
  margin: auto;
  
}

.dashboard-table {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(107, 54, 54, 0.05) 0px 0px 0px 1px inset;
  background-color: white;
  border-radius: 1em;
  overflow: hidden;
  margin-bottom: 40px;
}

.dashboard-thead {
  padding: 1rem 1.5rem;
  font-size: 1.2em;
  display: flex;
}

.dashboard-tbody {
  display: flex;
}

.dashboard-tr {
  display: flex;
  width: 100%;
}

.dashboard-middle-id {
  display: flex;
  width: 50%;
  padding: 1rem 1.5rem;
  justify-content: center;
}

.dashboard-right-score {
  display: flex;
  width: 50%;
  padding: 1rem 1.5rem;
  justify-content: center;
}

.dashboard-btn-container {
  display: flex;
  width: 100%;
}

.dashboard-logout-btn {
  width: 7rem;
  justify-self: end;
}

.dashboard-btn-container :nth-child(1) {
  display: block;
  width: 11rem;
}

.dashboard-btn-container :nth-child(2) {
  display: block;
  width: 6rem;
  margin-left: auto;
  margin-right: 0;
}


.container-dashboard {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 78vw;
  height: 100%;
  margin: 0 auto 0;

}

.dashboard-form-container {
  background-color: #2a3b50;
  width: 100%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: 30px;
  border-radius: 20px;
  padding: 40px;  
}

@media only screen and (max-width: 1155px) {
  .container-dashboard {
    width: 100%;
  }
}


@media screen and (max-width: 991px) {
  .dashboard-table-container {
    width: 90%;
  }

  .dashboard-bloc-tabs{
    width: 90%;
  }
  
}