.footer{
    display: flex;
    flex-direction: column;
}    
.foot{
    display: flex;
    flex-direction: row;
    z-index: 1;
    position: absolute;
    color: white;
    width: 100%;
    padding: 40px 90px;
    height: auto;
    background-color: #071d39;
}
.foot h1{
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.ql{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-left: 30px;
}
.ql ul{
    padding: 0px;
}
.ql ul li{
    list-style: none;
    text-decoration: none;
    font-size: 1.3rem;
    margin-top: 5px;
    margin-bottom: 5px;
}
.ql ul li a{
    text-decoration: none;
    color: white;
}
.contact{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contact a{
    text-decoration: none;
    color: white;
}
.icon_box{
    display: grid;
    grid-template-columns: repeat(4,auto);
}
.icon_box img{
    width: 70px;
    height: 70px;
}
.ico{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;

}
.ico img{
    height: 40px;
    width: 40px;
}
.copy{
    z-index: 1;
   
    color: white;
}
.icon_box img{
    padding: 10px;
}
.icon_box img:hover{
    width: 75px;
    height: 75px;
    transition: width 0.5s, height 0.5s;
}
.ico p{
    font-size: 1.3rem;
    display: block;
    margin: auto;
}
.foot hr{
    width: 50%;
    background-color: white;
}
@media only screen and (max-width: 600px) {
    .foot{
        flex-direction: column;
    }
    .ql{
        margin-left: 0px;
    }
    .foot{
        padding: 30px;
    }
    .ql ul li{
        margin-left: 5px;
    }
    .foot h1{
        font-size: 1.2rem;
    }
    .ql ul li a{
        font-size: 1.1rem;
    }
    .ico p{
        font-size: 1.1rem;
    }
    .foot hr{
        width: 80%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}