body {
  font-family: "Gilroy-Medium";
}

.space {
  padding-top: 20vh;
}
.bg-custom {
  background-color: #12263f;
}

.title {
  color: #fff;
  background-color: #12263f;
  font-size: 2em;
}

.tablee {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 1em;
  background-color: white;
}

thead {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  font-size: 1.2em;
}
thead th {
  padding: 0.7em !important;
}

table {
  margin-bottom: 0 !important;
  padding: 0;
  background-color: #fff;
  border-radius: 1em;
}

/* #bggg{
  height: 350px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #12263f;
} */
.leader-stars,
.leader-twinkling,
.leader-clouds {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 350px;
}

.leader-stars {
  z-index: -2;
  background: #12263f url("../Images/stars.svg") repeat top
    center;
}

.leader-twinkling {
  z-index: -1;
  background: transparent url("../Images/twinkle_bg1.png") repeat top center;
  animation: move-twink-back 200s linear infinite;
}

.leader-clouds {
  z-index: 2;
  background: transparent url("https://image.ibb.co/bT4N7T/clouds.png") repeat
    top center;
  animation: move-clouds-back 200s linear infinite;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
.bg-relative{
  position: absolute;
  top: 40vh;
  background-color: #12263f;
  padding-top: 20vh;

}

/* Row CSS */

#dp {
  border-radius: 50%;
  height: 2.8em;
  /* padding: 0.2em; */
  /* margin: 1em; */
}
p {
  margin: 0;
}

td {
  vertical-align: middle;
}

/* Pagination Nav */
.pagination {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1000px) {
  .pagination {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
  }
  .pagination-left {
    justify-content: space-between;
  }
  .pagination-right input {
    max-width: 5em;
  }
}

.pagination-left,
.pagination-right {
  margin-left: 2em;
  margin-right: 1em;
  display: flex;
  align-items: center;
}
.pagination-right input {
  max-width: 5em;
}
#pageof {
  vertical-align: middle;
  padding: 1em;
}

.pagination-left button {
  border: 1px solid rgb(255, 255, 255);
  color: #2e63a5;
  background-color: rgb(204, 231, 255);
  padding: 0.35em;
}

.pagination-left button:disabled {
  color: #2e64a57a;
  background-color: rgba(204, 231, 255, 0.5);
}

.pagination-right input {
  text-align: center;
  border-color: #12263f85;
}

.pagination-right span {
  background-color: rgb(204, 231, 255);
  color: #2e63a5;
  /* border-color: #12263f85; */
  border: none;
}

@media only screen and (max-width:400px){
  .pagination-left, .pagination-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pagination{
    align-items: center;
  }
  .input-group{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}