.form-container{
    background-color: #2a3b50;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 40px;
    
}

.input-field{
    margin-bottom: 20px;
}

.input-field input, .input-field select, .input-field textarea{
    background-color: #2a3b50;
    display: block;
    width: 100%;
    color: white;
}
.input-field input::placeholder,.input-field select::placeholder ,.input-field textarea::placeholder{
    color: #99a7b9;
}

.input-field input:focus ,.input-field select:focus, .input-field textarea:focus{
    background-color: #394c62;
    color: white;
}

.input-field label{
    text-align: left;
    color: white;
    display: block;
}

.button-container{
    display: grid;
}

.confirm-container{
    background-color: #2a3b50;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-top: 100px;
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 40px;
    color: white;
    
}

.return-button{
    margin-top: 20px;
}



@media screen and (max-width: 991px){
    .form-container{
        width: 98%;
    }
    .confirm-container{
        width: 98%;
    }
}