.coord{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(32, 40, 65); */
    width: 100%;
    margin: auto;
}

.mobilescreen{
    display: none;
}

.slider1 {
    margin-top: 65px;
}

.icon img{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    margin: auto;
}

.iconbx {
    display: grid;
    grid-template-columns: repeat(2,55px);
    justify-content: center;
    align-items: center;
}

.icon {
    margin: 10px 30px;
    background-color: #23354b;
    border-radius: 20px;
    width: 220px;
    padding: 20px;
    box-shadow: #172536 0.5px 0.5px 1px 1px;
}
.slider1 h2{
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
    margin-bottom: 10px;
}

.namecard{
    margin-top: 15px;
}

.namecard p {
    color: white;
    margin-top: 5px;
}

.iconbx a {
    text-decoration: none;
}

.iconbx svg{
    color: white;
    height: 25px;
    width: 25px;
}

.iconbx svg:hover{
    color: #788da7;
    transition: color 0.5s;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: white;
    font-size: 11px;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 11px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: white;
    -webkit-font-smoothing: antialiased;
}

.slider3 {
    margin-bottom: 100px;
    margin-top: 100px;
}
.slider3 h2{
    color: white;
}

.slider hr{
    background-color: white; 
    width: 9%;
    display: block; 
    margin: auto;
    margin-bottom:50px;
    font-size: 3rem; 
    height: 3px;
}

.combined{
    background-color: #2a3b50;
    width: 70%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: 30px;
    border-radius: 20px;
}
.slider h2{
    padding-top: 100px;
    color: white;
}

/* .slick-next:before {
    content: none;
}

.slick-prev:before {
    content: none;
} */
.slick-next {
    right: 20px;
}
.slick-prev {
    left: 20px;
    z-index: 2;
}
@media only screen and (max-width:1100px) {
    .combined{
        width: 98%;
    }
}

@media only screen and (max-width:800px) {
    .mobilescreen{
        display: block;
    }
    .fullscreen{
        display: none;
    }
    .slider h2{
        padding-top: 60px;
    }
    .slider1{
        margin-top: 35px;
    }
    .slider1 h2{
        font-size: 20px;
        padding-top: 15px;
        padding-bottom: 0px;
        margin-bottom: 5px;
    }
    .slider3{
        margin-bottom: 40px;
        margin-top: 35px;
    }
    .slider3 h2{
        font-size: 20px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
    }
    .icon {
        margin: 2px 7px;
        width: 170px;
        height: 235px;
        padding: 10px;
    }
    .icon img{
        height: 130px;
        width: 130px;
        border-radius: 65px;
        margin-bottom: 15px;
    }
    .namecard{
        margin-top: 10px;
    }
    .namecard p{
        font-size: .9rem;
        margin-top: 0px;
    }
    .iconbx svg{
        height: 20px;
    }
    .slider hr{
        width: 20%;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .slick-next {
        right: 2px;
    }
    .slick-prev{
        left: 2px;
    }
}